################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/practice/.vs/practice
/practice/bin/Debug/net9.0
/practice/obj
